@use "sass:color";
@use "../base/variables";

/* Customize Login Screen */

body.login .button-primary {
  background-color: variables.$darkOrange;
  border-color: color.scale(variables.$darkOrange, $lightness: -10%);
  text-shadow: 0 -1px 1px color.scale(variables.$darkOrange, $lightness: -15%), 1px 0 1px color.scale(variables.$darkOrange, $lightness: -15%), 0 1px 1px color.scale(variables.$darkOrange, $lightness: -15%), -1px 0 1px color.scale(variables.$darkOrange, $lightness: -15%);
  box-shadow: 0 1px 0 color.scale(variables.$darkOrange, $lightness: -20%);
}

body.login .button-primary:active,
body.login .button-primary:focus,
body.login .button-primary:hover {
  background-color: color.scale(variables.$darkOrange, $lightness: -9%);
  border-color: variables.$darkOrange;
  text-shadow: 0 -1px 1px color.scale(variables.$darkOrange, $lightness: -20%), 1px 0 1px color.scale(variables.$darkOrange, $lightness: -20%), 0 1px 1px color.scale(variables.$darkOrange, $lightness: -20%), -1px 0 1px color.scale(variables.$darkOrange, $lightness: -20%);
  box-shadow: 0 1px 0 color.scale(variables.$darkOrange, $lightness: -25%);
}

body.login {
  background-color: variables.$beige;
}

.login h1 a {
  color: variables.$mainBlue;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}
