@use "sass:color";
@use "../base/variables";
@use "../base/mixins";

.page-links {
  position: relative;
  z-index: 1;
  background-color: variables.$beige;
  margin: 0 0 40px 0;
  @include mixins.atSmallMedium {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right;
  }

  &__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: variables.$mainBlue;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
      background-color: variables.$mainBlue;
    }
  }

  li {
    border-top: 1px solid color.adjust(variables.$beige, $lightness: -14%);
  }

  li:first-child {
    border-top: none;
  }

  &__active,
  & .current_page_item {
    text-align: center;
    background-color: color.scale(variables.$beige, $lightness: -7%, $saturation: -10%);
    color: variables.$mainBlue;
    font-weight: bold;
  }

  li a {
    display: block;
    text-align: center;
    padding: 17px 10px;
    text-decoration: none;
    color: variables.$mainBlue;
    transition: all 0.3s;
  }

  li a:hover {
    color: color.adjust(variables.$mainBlue, $lightness: -6%);
    background-color: color.scale(variables.$beige, $lightness: -9%, $saturation: -12%);
  }
}
